@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

#topline {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 80%;
  top: 30px;
}
h1 {
  color: rgb(99, 72, 4);
  font-style: italic;
  font-family: Montserrat;
  font-size: 7rem;
  text-shadow: 5px 5px 5px darkslategray;
  margin: 0 50px;
  max-width: 80%;
}

h3 {
  color: darkslategray;
  text-align: center;
  max-width: 80%;
}

.carousel {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  height: 550px;
  width: 700px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img {
  width: 700px; /*  MULTIPLY by idx FOR SLIDING */
  height: 500px;
  object-fit: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: teal;
  color: #fff;
  border: none;
  padding: 20px;
  cursor: pointer;
  width: 49.7%;
}

.btn:hover {
  opacity: 0.7;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

@media (max-width: 825px) {
  body {
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
  }
  #topline {
    border: 5px solid whitesmoke;
    border-radius: 5px;
    width: 80%;
  }
}
